api/localhost.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="deleteUser" type="tns:deleteUser"></xs:element>

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"></xs:element>

<xs:element name="getUser" type="tns:getUser"></xs:element>

<xs:element name="getUserResponse" type="tns:getUserResponse"></xs:element>

<xs:element name="getUsers" type="tns:getUsers"></xs:element>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"></xs:element>

<xs:element name="login" type="tns:login"></xs:element>

<xs:element name="loginResponse" type="tns:loginResponse"></xs:element>

<xs:element name="postUser" type="tns:postUser"></xs:element>

<xs:element name="postUserResponse" type="tns:postUserResponse"></xs:element>

<xs:element name="updateUser" type="tns:updateUser"></xs:element>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"></xs:element>

<xs:element name="user" type="tns:user"></xs:element>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="idUser" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="_id" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="payload" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="idUser" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postUser">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="postUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="idUser" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>