api/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://projet_AL/webservice" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://projet_AL/webservice/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://projet_AL/webservice">
      <xs:element name="GetUsersInput" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="begin" type="xs:int"></xs:element>
            <xs:element name="end" type="xs:int"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="User" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" nillable="true"></xs:element>
            <xs:element name="login" type="xs:string"></xs:element>
            <xs:element name="password" type="xs:string"></xs:element>
            <xs:element name="_id" type="xs:string" nillable="true"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="GetUsersOutput" >
        <xs:complexType>
          <xs:sequence>
            <xs:element  minOccurs="0" maxOccurs="unbounded" ref="User"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetUsersInput">
    <wsdl:part  name="GetUsers" element="ws:GetUsersInput"/>
  </wsdl:message>

  <wsdl:message name="GetUsersOutput">
    <wsdl:part  name="Body" element="ws:GetUsersInput"/>
  </wsdl:message>

  <wsdl:portType name="UserServiceSoapPort">
    <wsdl:operation name="GetUsers">
      <wsdl:input message="ws:GetUsersInput"><wsdl:input>
      <wsdl:output message="ws:GetUsersOutput"><wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UserServiceSoapPort" type="ws:UserServiceSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http/" style="doucment"/>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://projet_AL/webservice/GetUsers" style="document"/>
      
      <wsdl:input>
        <soap:body parts="GetUsers" use="literal"/>
        <soap:header message="ws:GetUsersInput" part="Header" use="literal"/>
      </wsdl:input>

      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UserService">
    <wsdl:documentation>
      Handle user management
    </wsdl:documentation>
    <wsdl:port name="UserServiceSoapPort" type="ws:UserServiceSoapPort">
      <soap:address location="http://localhost:8000/wsdl" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>