api/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UserServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="file:///C:/Users/SWIFT 5/Documents/coding/DIC2/architecture logiciel/project/api/localhost.xml"></xsd:import>
</xsd:schema>
</types>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"></part>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"></part>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"></part>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"></part>
</message>
<message name="postUser">
<part name="parameters" element="tns:postUser"></part>
</message>
<message name="postUserResponse">
<part name="parameters" element="tns:postUserResponse"></part>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"></part>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"></part>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"></part>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"></part>
</message>
<portType name="UserService">
<operation name="getUsers">
<input wsam:Action="http://service/UserService/getUsersRequest" message="tns:getUsers"></input>
<output wsam:Action="http://service/UserService/getUsersResponse" message="tns:getUsersResponse"></output>
</operation>
<operation name="getUser">
<input wsam:Action="http://service/UserService/getUserRequest" message="tns:getUser"></input>
<output wsam:Action="http://service/UserService/getUserResponse" message="tns:getUserResponse"></output>
</operation>
<operation name="postUser">
<input wsam:Action="http://service/UserService/postUserRequest" message="tns:postUser"></input>
<output wsam:Action="http://service/UserService/postUserResponse" message="tns:postUserResponse"></output>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service/UserService/updateUserRequest" message="tns:updateUser"></input>
<output wsam:Action="http://service/UserService/updateUserResponse" message="tns:updateUserResponse"></output>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service/UserService/deleteUserRequest" message="tns:deleteUser"></input>
<output wsam:Action="http://service/UserService/deleteUserResponse" message="tns:deleteUserResponse"></output>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="postUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="UserServiceService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8000/"></soap:address>
</port>
</service>
</definitions>